<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="/veiculos/salvar" method="post">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Ford Ka">
                </div>

                <div class="mb-3">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" placeholder="1.0 Flex Esportivo">
                </div>

                <div class="mb-3">
                    <label for="fabricacao" class="form-label">Fabricação</label>
                    <input type="text" class="form-control" id="fabricacao" name="fabricacao" placeholder="2013">
                </div>

                <div class="mb-3">
                    <label for="cor" class="form-label">Cor</label>
                    <input type="text" class="form-control" id="cor" name="cor" placeholder="Branco">
                </div>

               

                <div class="mb-3">
                    <select class="form-select" aria-label="Default select example" id="combustivel" name="combustivel">
                        <option selected>Combustível</option>
                        <option value="1">Gasolina</option>
                        <option value="2">Álcoll</option>
                        <option value="3">Flex</option>
                        <option value="4">Diesel</option>
                        <option value="5">Gás</option>
                    </select>
                </div>

                <div class="mb-3">
                   
                </div>

                <div class="mb-3">
                    <label for="valor" class="form-label">Valor</label>
                    <input type="text" class="form-control" id="valor" name="valor" placeholder="23.999">
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Salvar</button>
                </div>

            </form>

        </div>
       

    </div>

</div>
